/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

body {
  font-family: sans-serif;
  background-color: #0F3460;
  color: #E94560;
}

#citySelect {
  margin: 10px;
  height: 50px;
  width: 200px;
  background-color: #533483;
  color: white;
  border: solid 2px white;
  border-radius: 4px;
}


#refreshButton {
  background-color: #E94560;
  height: 50px;
  width: 200px;
  margin: 10px;
  border: 2px solid white;
  color: white;
  border-radius: 4px;

}

#dashboard {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#nameContainer {
  font-size: 50px;
  padding: 5px;
  border-bottom: solid 2px white;
}

#timeContainer {
  font-size: 50px;
}

#dateContainer {
  font-size: 50px;
}

#temperatureContainer {
  font-size: 50px;
}

#windspeedContainer {
  font-size: 50px;
}

#winddirectionContainer {
  font-size: 50px;
}

.box {
  border-radius: 4px;
  margin: 10px;
}